<h1>login</h1>


<p-card styleClass="user-form" class="flex justify-content-center">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (submit)="processLoginForm()">
    <p-floatlabel>
      <input id="email" type="email" pInputText formControlName="email" />
      <label for="email">Email</label>
    </p-floatlabel>
    @if (loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)) {
      @if (loginForm.get('email')?.errors?.['required']) {
        <p-message severity="error" variant="simple" size="small">Email is required</p-message>
      } @else if (loginForm.get('email')?.errors?.['email']) {
        <p-message severity="error" variant="simple" size="small">Please enter a valid email</p-message>
      } @else if (loginForm.get('email')?.errors?.['emailNotFound']) {
        <p-message severity="error" variant="simple" size="small">Email is not registered</p-message>
      }
    }
    <br>
    <p-floatlabel>
      <input id="password" type="password" pInputText formControlName="password" />
      <label for="password">Password</label>
    </p-floatlabel>
    @if (loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)) {
      @if (loginForm.get('password')?.errors?.['required']) {
        <p-message severity="error" variant="simple" size="small">Password is required</p-message>
      } @else if (loginForm.get('password')?.errors?.['minlength']) {
        <p-message severity="error" variant="simple" size="small">Password must be at least 6 characters long</p-message>
      } @else if (loginForm.get('password')?.errors?.['maxlength']) {
        <p-message severity="error" variant="simple" size="small">Password cannot be more than 20 characters</p-message>
      }
    }
    <p-button type="submit">Login</p-button>
  </form>

  <p-divider align="center" type="solid"><b>or</b></p-divider>

  <h2>Sign up</h2>

  <form [formGroup]="signUpForm" (submit)="processSignUpForm()">
    <p-floatlabel>
      <input id="username" type="text" pInputText formControlName="username" />
      <label for="username">Username</label>
    </p-floatlabel>
    <br>
    <p-floatlabel>
      <input id="email" type="email" pInputText formControlName="email" />
      <label for="email">Email</label>
      @if (signUpForm.get('email')?.invalid && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)) {
        @if (signUpForm.get('email')?.errors?.['required']) {
          <p-message severity="error" variant="simple" size="small">Email is required</p-message>
        } @else if (signUpForm.get('email')?.errors?.['email']) {
          <p-message severity="error" variant="simple" size="small">Please enter a valid email</p-message>
        } @else if (signUpForm.get('email')?.errors?.['emailExists']) {
          <p-message severity="error" variant="simple" size="small">Email has already been registered</p-message>
        }
      }
    </p-floatlabel>
    <br>
    <p-floatlabel>
      <input id="password" type="password" pInputText formControlName="password" />
      <label for="password">Password</label>
    </p-floatlabel>
    @if (signUpForm.get('password')?.invalid && (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched)) {
      @if (signUpForm.get('password')?.errors?.['required']) {
        <p-message severity="error" variant="simple" size="small">Password is required</p-message>
      } @else if (signUpForm.get('password')?.errors?.['minlength']) {
        <p-message severity="error" variant="simple" size="small">Password must be at least 6 characters long</p-message>
      } @else if (signUpForm.get('password')?.errors?.['maxlength']) {
        <p-message severity="error" variant="simple" size="small">Password cannot be more than 20 characters</p-message>
      }
    }
    <p-floatlabel>
      <input id="confirmPassword" type="password" pInputText formControlName="confirmPassword" />
      <label for="confirmPassword">Confirm Password</label>
    </p-floatlabel>
    @if (signUpForm.get('confirmPassword')?.invalid && (signUpForm.get('confirmPassword')?.dirty || signUpForm.get('confirmPassword')?.touched)) {
      @if (signUpForm.get('confirmPassword')?.errors?.['required']) {
        <p-message severity="error" variant="simple" size="small">Password is required</p-message>
      } @else if (signUpForm.get('confromPassword')?.errors?.['minlength']) {
        <p-message severity="error" variant="simple" size="small">Password must be at least 6 characters long</p-message>
      } @else if (signUpForm.get('confirmPassword')?.errors?.['maxlength']) {
        <p-message severity="error" variant="simple" size="small">Password cannot be more than 20 characters</p-message>
      } @else if (signUpForm.get('confirmPassword')?.errors?.['passwordMismatch']) {
        <p-message severity="error" variant="simple" size="small">Password is not the same</p-message>
      }
    }
    <p-button type="submit">Sign up</p-button>
  </form>
  
  <!-- <div id="google_sign_in_btn">
    <div id="g_id_onload"></div>
    <div class="g_id_signin"></div>
  </div> -->
</p-card>








